$background-body: hsl(228,15%,20%);
$font:'Bebas Neue', sans-serif;

@import "../node_modules/remixicon/fonts/remixicon.css";

*{
  margin: 0;
  padding: 0;
  font-family: $font;
}


html{
  scroll-behavior: smooth;
}

body{
  background-color: $background-body;
}
